body {
    display: flex;
    flex-direction: column;
    background-image: url("../img/analizadorfondo.png");
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
}

header {
    /*display: flex;*/
    margin-left: 40px;
    font-size: 3vw;
    color: #142c86;
    font-family: Roboto, sans-serif;
}

h2 {
    /*display: flex;*/
    margin-left: 40px;
    color: #142c86;
    font-family: Roboto, sans-serif;
}

textarea[name="user-input"] {
    display: block;
    margin-left: 40px;
    width: 60vw;
    outline: none;
    background-color: #f6f6f6;
}

ul {
    list-style: none;
    display: flex;
    width: 60%;
    column-count: 2;
    }


.lista {
    margin-top: 2%;
    margin-left: 40px;
    width: 60vw;
    outline: none;
    text-align: center;
    background-color: #142c8d;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
}

#reset-button {
    display: flex;
    margin-top: 2%;
    margin-left: 52%;
    text-align: center;
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 8px;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100vw;
    text-align: center;
    background-color: #45a1ff;
    color: #142c86;
}